.beers(ng-controller="Beers")
  .controls(data-role="controlgroup" data-mini="true" data-type="horizontal")
    %a(id="sort_rating_score"
       ng-class="selectedCls(rating)"
       ng-click="sort(rating, true)"
       href="#" data-role="button") Top Rated
    %a(id="sort_abv"
       ng-class="selectedCls(abv)"
       ng-click="sort(abv)"
       href="#" data-role="button") By ABV
    %a(id="sort_name"
       ng-class="selectedCls('name')"
       ng-click="sort('name')" href="#" data-role="button") Name

  %ul#beer-list(data-role="listview" data-inset="true")
    %li.beer(ng-repeat="beer in beers | orderBy:ordering.key:ordering.reverse")
      .bio
        %a.name(href="{{beer.external_link}}") {{beer.name}}
        .type {{beer.type}}
      .annotation
        .rating {{beer.rating_description}}
        .stat {{beer.abv_text}}

:javascript
  App.beers = #{items.map(&:as_json).to_json};