.beers(ng-controller="Beers")
  .controls(data-role="controlgroup" data-mini="true" data-type="horizontal")
    .ui-controlgroup-controls
      %a(ng-repeat="sorter in sorters"
         ng-class="selectedCls(sorter.key)"
         ng-click="sort(sorter.key, sorter.reverse)"
         href="#"
         data-role="button") {{sorter.title}}

  %ul#beer-list(data-role="listview" data-inset="true")
    %li.beer(ng-repeat="beer in beers | orderBy:ordering.key:ordering.reverse")
      .bio
        %a.name(href="{{beer.external_link}}") {{beer.name}}
        .type {{beer.type || '&nbsp;'}}
      .annotation
        .rating {{beer.rating_description}}
        .stat {{beer.abv_text}}

:javascript
  App.beers = #{items.map(&:as_json).to_json};