.controls {
  text-align: center;

  .selected {
    background: #0480B5;
    color: #fff;
    text-shadow: none;
  }
}

.beer {
  font-size: smaller;
}

.annotation {
  position: absolute;
  text-align: right;
  top: 0.8em;
  right: 1em;
  width: 5em;
  background: #eee;
}

.bio {
  margin-right: 6em;
  white-space: nowrap;
}

.type {
  color: #aaa;
}

.stat {
  color: #a55;
}

.rating {
  color: #5a5;
}